@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: #F9F9E0;
    width: 95%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF90BC;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #F9F9E0;
        text-shadow: 0 0 12px #8ACDD7, 0 0 50px #8ACDD7, 0 0 100px #8ACDD7;
    }
    10%, 90%{
        color: #FFC0D9;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1.0s;
}
.greetings > span:nth-child(7){
    animation-delay: 1.2s ;
}
.greetings > span:nth-child(8){
    animation-delay: 1.4s ;
}
.greetings > span:nth-child(9){
    animation-delay: 1.6s;
}
.greetings > span:nth-child(10){
    animation-delay: 1.8s;
}
.greetings > span:nth-child(11){
    animation-delay: 2.0s;
}
.greetings > span:nth-child(12){
    animation-delay: 2.2s ;
}
.greetings > span:nth-child(13){
    animation-delay: 2.4s ;
}
.greetings > span:nth-child(14){
    animation-delay: 2.6s ;
}
.greetings > span:nth-child(15){
    animation-delay: 2.8s ;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #F9F9E0;
}

/* .button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
    
} */

/* CSS */
.button a {
  background-color: #8ACDD7;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button a:hover,
.button a:focus {
  background-color: #F082AC;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}
